@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&family=Lora:wght@614&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* font-family: 'Lato';
    font-family: 'Lora'; */
.qs_container {}
.qs_header{
}
/* header */
.qs_header .qs_header_image{
    height: 883px;
    width: 100%;
    position: relative;
}
.qs_header_navbar {
    position: absolute;
    width: 100%;
    top: 0px;
    padding: 32px 32px 0px 32px;
    
}
.qs_header_navbar_time {
    background-color: #1F1F1F;
    
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    padding: 0px 10px;
    margin-bottom: 14px;
}
.qs_header_navbar_time h3 {
    font-family: 'Lato';
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    padding: 12px;
    display: flex;
    align-items: center;
}
.qs_header_navbar_time_day {
    display: flex;
    align-items: center;
    padding: 4px 0px;
}
.qs_header_navbar_time_day_1 {
    text-align: center;
    padding: 0px 8px;
}
.qs_header_navbar_time_day .qs_header_navbar_time_day_1 h4 {
    font-size: 14px;
    font-family: 'Lato';
    font-weight: 400;
    line-height: 22px;
}
.qs_header_navbar_time_day .qs_header_navbar_time_day_1 p {
    font-size: 9px;
    font-family: 'Lato';
    font-weight: 400;
    line-height: 20px;
}
.qs_header_navbar_menu {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    padding: 0px 14px 0px 14px;
    text-align: center;
}
.qs_header_navbar_menu i {
    display: flex;
    align-items: center;
    margin-right: 8px;
}
.qs_header_navbar_menu_left {
    display: flex;
}
.qs_header_navbar_menu_left h3 {
    font-size: 14px;
    font-family: 'Lato';
    font-weight: 400;
    line-height: 22px;
}
.qs_header_navbar_menu_right {
    display: flex;
}
.qs_header_navbar_menu_right_1 {
    display: flex;
    font-size: 14px;
    font-family: 'Lato';
    font-weight: 400;
    line-height: 22px;
    margin-left: 14px;
}
.qs_header_navbar_menu_right_1 div {
    margin-left: 14px;
}
.qs_header .qs_header_title {
    font-family: 'Lora';
    color: #FFFFFF;
    font-size: 64px;
    font-weight: 400;
    line-height: 74px;
    position: absolute;
    top: 50px;
    width: 822px;
    height: 148px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Lorem ullamco */
.qs_ullamco{
    margin-top: 40px;
}
.qs_ullamco .qs_ullamco_text {
    text-align: center;
    font-size: 40px;
    font-family: 'Lato';
    font-weight: 400;
    line-height: 54px;
    margin-left: 14px;
}
.qs_ullamco_image {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    gap: 14px;
}
.qs_ullamco_image_1,
.qs_ullamco_image_2 {
    border: none;
    border-radius: 10px;
}
.qs_ullamco_title {

    text-align: center;
    display: grid;
    justify-content: center;
    padding: 0 24rem ;
}

/* Lorem ipsum */
.qs_ipsum {
    padding: 60px 30px;
    
}
.qs_ipsum_top {
    display: flex;
    justify-content: space-between;
    gap: 3px; 
    width: 100%; 
}
.qs_ipsum_top_image {
    width: 49.5%;
}
.qs_ipsum_top_title {
    width: 49.5%;
    background-color: #F4F0EA;
    border: none;
    border-radius: 30px;
    padding: 0px 60px;
    position:relative;
}
.qs_ipsum_top_title_text {
    position: absolute;
    bottom: 0;
}
.qs_ipsum_top_title_text h3 {
    font-size: 64px;
    font-weight: 400;
    line-height: 74px;
    
}
.qs_ipsum_top_title_text_child{
    margin-bottom: 30px;
}
.qs_ipsum_top_title_text_child h4 {
    margin-bottom: 15px;
    font-size: 20px;
    font-family: 'Lato';
    font-weight: 400;
    line-height: 30px;
}
.qs_ipsum_top_title_text_child p {
    font-size: 14px;
    font-family: 'Lato';
    font-weight: 400;
    line-height: 22px;
    width: 88%;
}
.qs_ipsum_bottom {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 3px; 
    width: 100%; 
}
.qs_ipsum_bottom_title {
    position: relative;
    
}
.qs_ipsum_bottom_title_text {
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
}
.qs_ipsum_bottom_title_text h3 {
    width: 80%;
    font-size: 64px;
    font-weight: 400;
    line-height: 74px;
    margin-bottom: 30px;
}
.qs_ipsum_bottom_title_text p {
    width: 90%;
    font-size: 14px;
    font-family: 'Lato';
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 15px;
}
.qs_ipsum_bottom_image {
    width: 49.5%;
}
.qs_ipsum_bottom_title {
    width: 49.5%;
    background-color: #F4F0EA;
    border: none;
    border-radius: 30px;
    padding: 0px 60px;
}

/* info */
.qs_info {
    padding: 0 30px;
}
.qs_info .qs_info_title {
    width: 35%;
    font-size: 14px;
    font-family: 'Lato';
    font-weight: 400;
    line-height: 22px;
}
.qs_info .qs_info_text {
    width: 88%;
    font-size: 32px;
    font-family: 'Lato';
    font-weight: 400;
    line-height: 44px;
}
/* lorem images */
.qs_lorem_images {
    padding: 60px 30px;
    display: flex;
    gap: 10px;
}
.qs_lorem_images_left img {
    border: none;
    border-radius: 20px;
}
.qs_lorem_images_right{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px; 
    width: 100%; 
}
.qs_lorem_images_right_child_1 ,
.qs_lorem_images_right_child_2 ,
.qs_lorem_images_right_child_3 ,
.qs_lorem_images_right_child_4   {
    text-align: center;
    border: none;
    border-radius: 10px;
}
.qs_lorem_images_right_child_1_top {
    height: 340px;
    background-color: #F0F2EF;
    position: relative;
    border: none;
    border-radius: 10px;
    
}
.qs_lorem_images_right_child_1_img,
.qs_lorem_images_right_child_2_img,
.qs_lorem_images_right_child_3_img,
.qs_lorem_images_right_child_4_img {
    text-align: center;
}
.qs_lorem_images_right_child_1_top_icon {
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
    height: 20px;
    position: absolute;
    top: 10px;
    width: 100%;
    
}
.qs_lorem_images_right_child_1_top_icon div {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.qs_lorem_images_right_child_1_top_icon div p {
    padding: 0 3px;
    background-color: #FFFFFF;
    font-size: 12px;
    font-family: 'Lato';
    font-weight: 400;
    line-height: 20px;
    border: none;
    border-radius: 5px;

}
.qs_lorem_images_right_child_1_top_color {
    position: absolute;
    bottom: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.qs_lorem_images_right_child_1_top_color img {
    height: 12px;
}
.qs_lorem_images_right_child_1_top_color p {
    font-size: 12px;
    font-family: 'Lato';
    font-weight: 400;
    line-height: 20px;
}
.qs_lorem_images_right_child_1_bottom {
    margin-top: 10px;
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
}
