<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
    <div class="qs_container">
        
        <!-- header -->
        <div class="qs_header">
            <img class='qs_header_image' src="../assets/images/header.png" alt="header">
            <div class="qs_header_navbar">
                <div class="qs_header_navbar_time">
                    <h3>
                        FREE SHIPPING · COUPON: FREE. Exchanges and returns within 30 days.
                    </h3>
                    <div class="qs_header_navbar_time_day">
                        <div class="qs_header_navbar_time_day_1">
                            <h4>00</h4>
                            <p>days</p>
                        </div>
                        :
                        <div class="qs_header_navbar_time_day_1">
                            <h4>10</h4>
                            <p>hours</p>
                        </div>
                        :
                        <div class="qs_header_navbar_time_day_1">
                            <h4>37</h4>
                            <p>min</p>
                        </div>
                        :
                        <div class="qs_header_navbar_time_day_1">
                            <h4>42</h4>
                            <p>sec</p>
                        </div>
                    </div>
                </div>

                <div class="qs_header_navbar_menu">
                    <div class="qs_header_navbar_menu_left">
                        <i class="fa-solid fa-bars"></i>
                        <h3 class="">MENU</h3>
                    </div>
                    <h3>Orangy</h3>
                    <div class="qs_header_navbar_menu_right">
                        <div class="qs_header_navbar_menu_right_1">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <h4>SEARCH</h4>
                        </div>
                        <h4 class="qs_header_navbar_menu_right_1">
                            LOGIN
                        </h4>
                        <div class="qs_header_navbar_menu_right_1">
                            <h4>BAG</h4>
                            <div>(0)</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="qs_header_title">
                <h3 >Quis aliqua reprehenderit excepteur et dolore </h3>
            </div>
        </div>

        <!-- Lorem ullamco  -->
        <div class="qs_ullamco">
            <h3 class="qs_ullamco_text">Lorem ullamco </h3>
            <div class="qs_ullamco_image">
                <img class="qs_ullamco_image_1" src="../assets/images/ullamco_1.png" alt="ullamco_1">
                <img class="qs_ullamco_image_2" src="../assets/images/ullamco_2.png" alt="ullamco_2">
            </div>
            <div class="qs_ullamco_title">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Excepteur eiusmod consectetur proident Lorem reprehenderit esse do anim velit in aliquip dolore ut officia. Consectetur reprehenderit proident do exercitation eu. Sunt fugiat pariatur elit est laboris quis. Esse mollit incididunt quis amet. Qui non irure incididunt laborum nisi cillum consequat aliquip aliquip cillum in. Ut excepteur labore voluptate tempor cupidatat dolor eiusmod do ipsum Lorem cupidatat do labore.</p>
                <p>Proident dolore nisi eiusmod excepteur aliquip esse ut excepteur. Non excepteur sunt reprehenderit sit ex ullamco eiusmod Lorem incididunt nisi mollit nostrud. Irure velit enim elit minim commodo qui culpa cillum duis fugiat consequat pariatur.</p>
            </div>
        </div>

        <!-- Lorem ipsum -->
        <div class="qs_ipsum">
            <div class="qs_ipsum_top">
                <img class="qs_ipsum_top_image" src="../assets/images/ipsum_1.jpg" alt="">
                <div class="qs_ipsum_top_title">
                    <div class="qs_ipsum_top_title_text">
                        <h3>Lorem ipsum</h3>
                        <div class="qs_ipsum_top_title_text_child">
                            <h4>Excepteur eiusmod consectetur</h4>
                            <p>Proident dolore nisi eiusmod excepteur aliquip esse ut excepteur. Non excepteur sunt reprehenderit sit ex ullamco eiusmod Lorem incididunt nisi mollit nostrud. Irure velit enim elit minim commodo qui culpa cillum duis fugiat consequat pariatur.</p>
                        </div >
                        <div class="qs_ipsum_top_title_text_child">
                            <h4>Quis aliqua reprehenderit</h4>
                            <p>Proident dolore nisi eiusmod excepteur aliquip esse ut excepteur. Non excepteur sunt reprehenderit sit ex ullamco eiusmod Lorem incididunt nisi mollit nostrud. Irure velit enim elit minim commodo qui culpa cillum duis fugiat consequat pariatur.</p>
                        </div>
                        <div class="qs_ipsum_top_title_text_child">
                            <h4>Ad sit cillum amet duis quis commodo</h4>
                            <p>Proident dolore nisi eiusmod excepteur aliquip esse ut excepteur. Non excepteur sunt reprehenderit sit ex ullamco eiusmod Lorem incididunt nisi mollit nostrud. Irure velit enim elit minim commodo qui culpa cillum duis fugiat consequat pariatur.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="qs_ipsum_bottom">
                <div class="qs_ipsum_bottom_title">
                    <div class="qs_ipsum_bottom_title_text">
                        <h3>Mollit aliquip do ipsum consectetur</h3>
                        <p>Ex laborum ea qui consectetur mollit commodo eiusmod culpa dolor cupidatat. Ullamco dolore irure ea sit elit velit non officia. Ad eu reprehenderit in et voluptate mollit. Reprehenderit incididunt magna consequat enim sit eiusmod est dolor laborum cupidatat.</p>
                        <p>Ipsum minim mollit irure dolore. Sint fugiat deserunt dolor aute enim et cillum adipisicing cillum nostrud anim. Sit dolore incididunt dolore do sunt pariatur consectetur id qui pariatur eu incididunt adipisicing. Irure sint fugiat officia veniam consectetur. Esse laborum amet aliqua ad in sunt labore duis.</p>
                    </div>
                </div>
                <img class="qs_ipsum_bottom_image" src="../assets/images/ipsum_2.jpg" alt="">
            </div>
        </div>

        <!-- info -->
        <div class="qs_info">
            <p class="qs_info_title">Aute duis sunt aliqua enim enim Lorem reprehenderit proident aliquip voluptate aliqua. Eiusmod labore officia minim laborum nostrud cupidatat.</p>
            <p class="qs_info_text">Nisi culpa voluptate eiusmod ullamco aliquip tempor elit sunt irure in excepteur dolore. Do eu eu officia voluptate veniam consequat veniam adipisicing dolor incididunt deserunt eiusmod amet. Sint veniam officia qui id consequat Lorem non consectetur commodo anim eiusmod nisi ipsum ut. Aliqua in dolore esse reprehenderit Lorem cillum </p>
        </div>

        <!-- lorem images -->
        <div class="qs_lorem_images">
            <div class="qs_lorem_images_left">
                <img src="../assets/images/lorem_1.png" alt="">
            </div>
            <div class="qs_lorem_images_right">
                <div class="qs_lorem_images_right_child_1">
                    <div class="qs_lorem_images_right_child_1_top">
                        <img class="qs_lorem_images_right_child_1_img" src="../assets/images/lorem_2.png" alt="">
                        <div class="qs_lorem_images_right_child_1_top_icon">
                            <div>
                                <p> New</p>
                                <p>Sale</p>
                            </div>
                            <img src="../assets/images/fav.png" alt="">
                        </div>
                        <div class="qs_lorem_images_right_child_1_top_color">
                            <img src="../assets/images/color_1.png" alt="">
                            <img src="../assets/images/color_2.png" alt="">
                            <img src="../assets/images/color_3.png" alt="">
                            <img src="../assets/images/color_4.png" alt="">
                            <p>+ 4colors</p>
                        </div>
                    </div>
                    <div class="qs_lorem_images_right_child_1_bottom">
                        <p>Lorem ullamco</p>
                        <p>17,99€</p>
                    </div>
                </div>
                <div class="qs_lorem_images_right_child_1">
                    <div class="qs_lorem_images_right_child_1_top">
                        <img class="qs_lorem_images_right_child_1_img" src="../assets/images/lorem_3.png" alt="">
                        <div class="qs_lorem_images_right_child_1_top_icon">
                            <div>
                                <p> New</p>
                                <p>Sale</p>
                            </div>
                            <img src="../assets/images/fav.png" alt="">
                        </div>
                        <div class="qs_lorem_images_right_child_1_top_color">
                            <img src="../assets/images/color_1.png" alt="">
                            <img src="../assets/images/color_2.png" alt="">
                            <img src="../assets/images/color_3.png" alt="">
                            <img src="../assets/images/color_4.png" alt="">
                            <p>+ 4colors</p>
                        </div>
                    </div>
                    <div class="qs_lorem_images_right_child_1_bottom">
                        <p>Lorem ullamco</p>
                        <p>17,99€</p>
                    </div>
                </div>
                <div class="qs_lorem_images_right_child_1">
                    <div class="qs_lorem_images_right_child_1_top">
                        <img class="qs_lorem_images_right_child_1_img" src="../assets/images/lorem_4.png" alt="">
                        <div class="qs_lorem_images_right_child_1_top_icon">
                            <div>
                                <p> New</p>
                                <p>Sale</p>
                            </div>
                            <img src="../assets/images/fav.png" alt="">
                        </div>
                        <div class="qs_lorem_images_right_child_1_top_color">
                            <img src="../assets/images/color_1.png" alt="">
                            <img src="../assets/images/color_2.png" alt="">
                            <img src="../assets/images/color_3.png" alt="">
                            <img src="../assets/images/color_4.png" alt="">
                            <p>+ 4colors</p>
                        </div>
                    </div>
                    <div class="qs_lorem_images_right_child_1_bottom">
                        <p>Lorem ullamco</p>
                        <p>17,99€</p>
                    </div>
                </div>
                <div class="qs_lorem_images_right_child_1">
                    <div class="qs_lorem_images_right_child_1_top">
                        <img class="qs_lorem_images_right_child_1_img" src="../assets/images/lorem_5.png" alt="">
                        <div class="qs_lorem_images_right_child_1_top_icon">
                            <div>
                                <p> New</p>
                                <p>Sale</p>
                            </div>
                            <img src="../assets/images/fav.png" alt="">
                        </div>
                        <div class="qs_lorem_images_right_child_1_top_color">
                            <img src="../assets/images/color_1.png" alt="">
                            <img src="../assets/images/color_2.png" alt="">
                            <img src="../assets/images/color_3.png" alt="">
                            <img src="../assets/images/color_4.png" alt="">
                            <p>+ 4colors</p>
                        </div>
                    </div>
                    <div class="qs_lorem_images_right_child_1_bottom">
                        <p>Lorem ullamco</p>
                        <p>17,99€</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Ipsum minim mollit irure -->
        <div class="qs_irure">
            <div class="qs_irure_info">
                <div class="qs_irure_info_title" >
                    <h4>Ipsum minim mollit irure</h4>
                    <p>Lorem ipsum dolor sit amet consectetur. Est congue ultrices sem id aliquam et diam ultricies rhoncus. Purus rhoncus volutpat cum scelerisque. Orci proin neque nec lacinia gravida. Quis enim nibh rutrum.</p>
                </div>
        
                <div class="qs_irure_info_img">
                    <img src="../assets/images/irure_1.png" alt="">
                </div>
            </div>

            <div class="qs_irure_title">
                <div class="qs_irure_text">
                    <div class="qs_irure_text_child">
                        <div class="qs_irure_text_child_image">
                            <img src="../assets/images/irure_2.png" alt="">
                        </div>
                        <p>Veniam exercitation reprehenderit proident cillum consequat est irure duis. Esse est qui mollit adipisicing dolore ut qui reprehenderit nulla dolore consectetur velit.</p>
                    </div>
                    <div class="qs_irure_text_child">
                        <div class="qs_irure_text_child_image">
                            <img src="../assets/images/irure_2.png" alt="">
                        </div>
                        <p>Lorem ullamco in est sit proident elit adipisicing dolor occaecat enim et sunt. Proident duis sunt sit veniam non. Dolore ut officia consectetur excepteur consequat reprehenderit.</p>
                    </div>
                    <div class="qs_irure_text_child">
                        <div class="qs_irure_text_child_image">
                            <img src="../assets/images/irure_2.png" alt="">
                        </div>
                        <p>Lorem ullamco in est sit proident elit adipisicing dolor occaecat enim et sunt. Proident duis sunt sit veniam non. Dolore ut officia consectetur excepteur consequat reprehenderit.</p>
                    </div>
                    <div class="qs_irure_text_child">
                        <div class="qs_irure_text_child_image">
                            <img src="../assets/images/irure_2.png" alt="">
                        </div>
                        <p>Lorem ullamco in est sit proident elit adipisicing dolor occaecat enim et sunt. Proident duis sunt sit veniam non. Dolore ut officia consectetur excepteur consequat reprehenderit.</p>
                    </div>
                </div>
            </div>

        </div>

        <!--  -->
        <div></div>

        <!-- footer -->
        <div class="footer"></div>
    </div>
</body>
</html>