@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&family=Lora:wght@614&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* font-family: 'Lato';
    font-family: 'Lora'; */
.qs_container {}
.qs_header{
}
/* header */
.qs_header .qs_header_image{
    height: 883px;
    width: 100%;
    position: relative;
}
.qs_header_navbar {
    position: absolute;
    width: 100%;
    top: 0px;
    padding: 32px 32px 0px 32px;
    
}
.qs_header_navbar_time {
    background-color: #1F1F1F;
    
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    padding: 0px 10px;
    margin-bottom: 14px;
}
.qs_header_navbar_time h3 {
    font-family: 'Lato';
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    padding: 12px;
    display: flex;
    align-items: center;
}
.qs_header_navbar_time_day {
    display: flex;
    align-items: center;
    padding: 4px 0px;
}
.qs_header_navbar_time_day_1 {
    text-align: center;
    padding: 0px 8px;
}
.qs_header_navbar_time_day .qs_header_navbar_time_day_1 h4 {
    font-size: 14px;
    font-family: 'Lato';
    font-weight: 400;
    line-height: 22px;
}
.qs_header_navbar_time_day .qs_header_navbar_time_day_1 p {
    font-size: 9px;
    font-family: 'Lato';
    font-weight: 400;
    line-height: 20px;
}
.qs_header_navbar_menu {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    padding: 0px 14px 0px 14px;
    text-align: center;
}
.qs_header_navbar_menu i {
    display: flex;
    align-items: center;
    margin-right: 8px;
}
.qs_header_navbar_menu_left {
    display: flex;
}
.qs_header_navbar_menu_left h3 {
    font-size: 14px;
    font-family: 'Lato';
    font-weight: 400;
    line-height: 22px;
}
.qs_header_navbar_menu_right {
    display: flex;
}
.qs_header_navbar_menu_right_1 {
    display: flex;
    font-size: 14px;
    font-family: 'Lato';
    font-weight: 400;
    line-height: 22px;
    margin-left: 14px;
}
.qs_header_navbar_menu_right_1 div {
    margin-left: 14px;
}
.qs_header .qs_header_title {
    
    position: absolute;
    top: 200px;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.qs_header_title h3 {
    width: 70%;
    font-family: 'Lora';
    color: #FFFFFF;
    font-size: 64px;
    font-weight: 400;
    line-height: 74px;
}
/* Lorem ullamco */
.qs_ullamco{
    margin-top: 40px;
}
.qs_ullamco .qs_ullamco_text {
    text-align: center;
    font-size: 40px;
    font-family: 'Lato';
    font-weight: 400;
    line-height: 54px;
    margin-left: 14px;
}
.qs_ullamco_image {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    gap: 14px;
}
.qs_ullamco_image_1,
.qs_ullamco_image_2 {
    border: none;
    border-radius: 10px;
}
.qs_ullamco_title {

    text-align: center;
    display: grid;
    justify-content: center;
    padding: 0 24rem ;
}

/* Lorem ipsum */
.qs_ipsum {
    padding: 60px 30px;
    
}
.qs_ipsum_top {
    display: flex;
    justify-content: space-between;
    gap: 3px; 
    width: 100%; 
}
.qs_ipsum_top_image {
    width: 49.5%;
}
.qs_ipsum_top_title {
    width: 49.5%;
    background-color: #F4F0EA;
    border: none;
    border-radius: 30px;
    padding: 0px 60px;
    position:relative;
}
.qs_ipsum_top_title_text {
    position: absolute;
    bottom: 0;
}
.qs_ipsum_top_title_text h3 {
    font-size: 64px;
    font-weight: 400;
    line-height: 74px;
    
}
.qs_ipsum_top_title_text_child{
    margin-bottom: 30px;
}
.qs_ipsum_top_title_text_child h4 {
    margin-bottom: 15px;
    font-size: 20px;
    font-family: 'Lato';
    font-weight: 400;
    line-height: 30px;
}
.qs_ipsum_top_title_text_child p {
    font-size: 14px;
    font-family: 'Lato';
    font-weight: 400;
    line-height: 22px;
    width: 88%;
}
.qs_ipsum_bottom {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 3px; 
    width: 100%; 
}
.qs_ipsum_bottom_title {
    position: relative;
    
}
.qs_ipsum_bottom_title_text {
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
}
.qs_ipsum_bottom_title_text h3 {
    width: 80%;
    font-size: 64px;
    font-weight: 400;
    line-height: 74px;
    margin-bottom: 30px;
}
.qs_ipsum_bottom_title_text p {
    width: 90%;
    font-size: 14px;
    font-family: 'Lato';
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 15px;
}
.qs_ipsum_bottom_image {
    width: 49.5%;
}
.qs_ipsum_bottom_title {
    width: 49.5%;
    background-color: #F4F0EA;
    border: none;
    border-radius: 30px;
    padding: 0px 60px;
}

/* info */
.qs_info {
    padding: 0 30px;
}
.qs_info .qs_info_title {
    width: 35%;
    font-size: 14px;
    font-family: 'Lato';
    font-weight: 400;
    line-height: 22px;
}
.qs_info .qs_info_text {
    width: 88%;
    font-size: 32px;
    font-family: 'Lato';
    font-weight: 400;
    line-height: 44px;
}
/* lorem images */
.qs_lorem_images {
    padding: 60px 30px;
    display: flex;
    gap: 10px;
}
.qs_lorem_images_left img {
    border: none;
    border-radius: 20px;
}
.qs_lorem_images_right{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px; 
    width: 100%; 
}
.qs_lorem_images_right_child_1 ,
.qs_lorem_images_right_child_2 ,
.qs_lorem_images_right_child_3 ,
.qs_lorem_images_right_child_4   {
    text-align: center;
    border: none;
    border-radius: 10px;
}
.qs_lorem_images_right_child_1_top {
    height: 340px;
    background-color: #F0F2EF;
    position: relative;
    border: none;
    border-radius: 10px;
    
}
.qs_lorem_images_right_child_1_img,
.qs_lorem_images_right_child_2_img,
.qs_lorem_images_right_child_3_img,
.qs_lorem_images_right_child_4_img {
    text-align: center;
}
.qs_lorem_images_right_child_1_top_icon {
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
    height: 20px;
    position: absolute;
    top: 10px;
    width: 100%;
    
}
.qs_lorem_images_right_child_1_top_icon div {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.qs_lorem_images_right_child_1_top_icon div p {
    padding: 0 3px;
    background-color: #FFFFFF;
    font-size: 12px;
    font-family: 'Lato';
    font-weight: 400;
    line-height: 20px;
    border: none;
    border-radius: 5px;

}
.qs_lorem_images_right_child_1_top_color {
    position: absolute;
    bottom: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.qs_lorem_images_right_child_1_top_color img {
    height: 12px;
}
.qs_lorem_images_right_child_1_top_color p {
    font-size: 12px;
    font-family: 'Lato';
    font-weight: 400;
    line-height: 20px;
}
.qs_lorem_images_right_child_1_bottom {
    margin-top: 10px;
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
}
/* Ipsum minim mollit irure */
.qs_irure {
    position: relative;
}
.qs_irure .qs_irure_info {
    display: flex;
    padding-bottom: 50px;
    
}
.qs_irure_info_title{
    margin-top: 40px;
    padding: 0px 0px 0px 30px;
}

.qs_irure_info_title h4 {
    width: 60%;
    font-size: 64px;
    font-weight: 400;
    line-height: 74px;
    margin-bottom: 20px;
}
.qs_irure_info_title p {
    width: 70%;
    font-size: 16px;
    font-family: 'Lato';
    font-weight: 400;
    line-height: 22px;
    
}
.qs_irure_info_img img {
    border: none;
    border-radius:  15px 0 0 15px ;
}
.qs_irure_title {
    width: 100%;
    position: absolute;
    bottom: -160px;
}
.qs_irure_title .qs_irure_text {
    display: flex;
    justify-content: space-around;
}
.qs_irure_text_child {
    background-color: #F4F0EA;
    width: 23%;
    border: none;
    border-radius:  15px ;
    display: grid;
    justify-content: center;
    padding: 10px;
}
.qs_irure_text_child_image {
    display: flex;
    justify-content: center;
    align-items: center;


}
.qs_irure_text_child_image img {
    width: 81px;
    height: 86px;
    margin-top: 50px;
    

}
.qs_irure_text_child p {
    margin-top: 50px;
    width: 94%;
    font-size: 16px;
    font-family: 'Lato';
    font-weight: 400;
    line-height: 22px;
}
/* slide */
.slider-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-top: 80px;
    padding-top: 150px;
}
.slider {
    display: flex;
    transition: transform 0.4s ease;
}
.slide {
    position: relative;
    min-width: 453px;
    height: 800px;
    margin-right: 9px;
}
.slider img {
    width: 100%; 
    border-radius: 16px;
    height: 100%; 
}
.slide .slider_image_info {
    position: absolute;
    left: 46px;
    bottom: 42px;
    color: white;
}
.slide .slider_image_info .slider_image_info_title {
    font-size: 1.2em;
    font-size: 32px;
    font-family: 'Lato';
    font-weight: 400;
    line-height: 44px; 
    margin-bottom: 20px; 
}
.slide .slider_image_info .slider_image_info_link {
    font-size: 0.9em;
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Lato';
    font-weight: 400;
    line-height: 14px;  
}
.nav-button {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%); 
    background-color: #FFFFFF;
    color: #2C2A29;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10; 
}
.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    background-color: #FFFFFF;
    color: #2C2A29;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10; 
    width: 42px; 
    height: 46px;
}
.nav-button.left {
    left: 0px; 
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.nav-button.right {
    right: 0px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.qs_footer {
    width: 100%;
    background-color: #F4F0EA;
    border-top-left-radius: 33px;
    border-top-right-radius: 33px;
    padding: 49px 49px 10px 49px;
    margin-top: 80px;
}
.qs_footer .qs_footer_container {
    display: flex;
}

.qs_footer .qs_footer_container .qs_footer_info .qs_footer_info_title {
    font-size: 16px;
    width: 45%;
    font-family: 'Lato';
    font-weight: 400;
    line-height: 22px;  
}
.qs_footer .qs_footer_container .qs_footer_info .qs_footer_info_newsletter {
    font-size: 16px;
    width: 35%;
    font-family: 'Lato';
    font-weight: 400;
    line-height: 22px;  
    margin-top: 34px;
}
.qs_footer .qs_footer_container .qs_footer_info .qs_footer_info_offer {
    font-size: 14px;
    width: 60%;
    font-family: 'Lato';
    font-weight: 400;
    line-height: 22px;  
    margin-top: 8px;
}
.qs_footer .qs_footer_container .qs_footer_info .qs_footer_info_button {
    width: 35%;
    background-color: #1F1F1F;
    border-radius: 8px;
    margin-top: 14px;
}
.qs_footer .qs_footer_container .qs_footer_info .qs_footer_info_button_title {
    font-size: 14px;
    font-family: 'Lato';
    font-weight: 400;
    line-height: 22px;  
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    color: #FFFFFF;
}
.qs_footer .qs_footer_container .qs_footer_info_company {
    display: flex;
    margin-top: 34px;
}
.qs_footer .qs_footer_container .qs_footer_info .qs_footer_info_company_image {
    margin-right: 10px;
}

.qs_footer .qs_footer_container .qs_footer_contact {
    display: flex;
    position: absolute;
    right: 0;
}
.qs_footer .qs_footer_container .qs_footer_contact .qs_footer_contact_info {
    margin-right: 43px;
}
.qs_footer .qs_footer_container .qs_footer_contact .qs_footer_contact_info .qs_footer_contact_info_title {
    font-size: 14px;
    font-family: 'Lato';
    font-weight: 400;
    line-height: 22px;  
    margin-bottom: 2px;
}
.qs_footer .qs_footer_container .qs_footer_contact .qs_footer_contact_info .qs_footer_contact_info_title_item {
    font-size: 14px;
    font-family: 'Lato';
    font-weight: 400;
    line-height: 22px;  
    margin-bottom: 5px;
}

.qs_footer .qs_footer_copyright {
    display: flex;
    margin-top: 24px;
}
.qs_footer .qs_footer_copyright .qs_footer_copyright_socials {
    display: flex;
}
.qs_footer .qs_footer_copyright .qs_footer_copyright_socials .qs_footer_copyright_socials_language {
    font-size: 14px;
    font-family: 'Lato';
    text-decoration: underline;
    font-weight: 400;
    line-height: 22px;  
    margin-left: 6px;
    margin-right: 6px;
    color:  #2C2A29;
}
.qs_footer .qs_footer_copyright .qs_footer_copyright_links {
    display: flex;
    position: absolute;
    right: 0;
}
.qs_footer .qs_footer_copyright .qs_footer_copyright_links .qs_footer_copyright_links_title_orangy {
    font-size: 14px;
    font-family: 'Lato';
    font-weight: 400;
    line-height: 22px;  
    margin-left: 6px;
    margin-right: 6px;
    color:  #1F1F1F;

}
.qs_footer .qs_footer_copyright .qs_footer_copyright_links .qs_footer_copyright_links_title {
    font-size: 14px;
    font-family: 'Lato';
    font-weight: 400;
    line-height: 22px;  
    margin-left: 6px;
    margin-right: 6px;
    color:  #797E7E;
}
